.container{
  margin-top: 75px;
}
.nav-sidebar{
  background-color: #FFFFFF;
  border-radius: 5px;
}

.nav-sidebar li a{
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}

/* remove affixed navbar on mobile */
.nav-sidebar.affix{
  position: static;
}

@media (min-width: 992px){
  .nav-sidebar.affix{
    position: fixed;
    width: 213px;
  }
}

@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .nav-sidebar.affix {
    width: 263px;
  }
}
